
/* ==========================================================================
   Author's custom styles
   ========================================================================== */




#xmlrespons
{
	position: relative;
	width: 100%;
	border: dotted 1px black;
}

/* Divar på olika sidor
----------------------------------*/
div
{
	border: 0px dotted grey;
}

div#logincontent
{
	position: relative;
	padding: 150px;
	height: 300px;
	margin: auto auto;
	background: white;
	-webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
	-moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
	box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}

div.loginbox
{
	background:#CCEBCC;
	padding-top:20px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

div#loginleft
{
	position: relative;
	float: left;
	padding: 10px;
	width: 100px;
	margin-left: 250px;
	background: none;
}

div#loginright
{
	position: relative;
	padding: 10px;
	width: 200px;
	height: 150px;
	margin-left: 370px;
	background: none;
}

div#all
{	
	padding: 20px;
	background: none;
}

div#content
{
	position: relative;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 65px;
	width: 1200px;
	height: 100%;
	background: none; /* tidigare aqua */
}

div#header
{
	position: relative;
	padding: 5px;
	margin-top: 0px;
	height: 80px;
	background: white;
	-webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
	-moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
	box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}

div#header:before{
	content: "";
	position: absolute;
	top: 0%;
	left: 0%;
	width: 0px;
	height: 0px;
	border-bottom: 70px solid #eee;
	border-left: 70px solid #66C266; /*Set to background color, not transparent!*/
	-webkit-box-shadow: 4px 4px 4px rgba(0,0,0,0.3);
	-moz-box-shadow: 4px 4px 4px rgba(0,0,0,0.3);
	box-shadow: 4px 4px 4px rgba(0,0,0,0.3);
}

div#menu
{
	position: relative;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left:150px;
	padding-right:150px;
	height: 50px;
	background: white;
	text-align: center;
	-webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
	-moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
	box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}

div.menubox
{
	background:#CCEBCC;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

div#maincontent
{
	position: relative;
	padding: 10px;
	height: 550px;
	background: white;
	-webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
	-moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
	box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}

div#newsfeed
{
	position: absolute;
	padding: 5px;
	width: 480px;
	height: 530px;
	background: none;
	overflow-y: scroll;
}

div#discussion
{
	position: absolute;
	padding: 5px;
	width: 360px;
	margin-left: 500px;
	height: 530px;
	background: none;
	overflow-y: scroll;
}

div#standings
{
	position: absolute;
	padding: 5px;
	width: 285px;
	margin-left: 880px;
	height: 530px;
	background: #D1B2D1;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

div#footer
{
	position: fixed;
	height: 60px;
	width:100%;
	background: black;
	opacity: 0.8;
	bottom: 0;
	margin-left: 0px;
	clear: both;
}

div.comment
{
	position: relative;
	padding: 5px;
	background: #E6E6E6;
	margin-bottom: 5px;
}

div#betdiv
{
	overflow-y: scroll;
	width: 100%;
	height: 100%;
}

#commentinput
{
	resize:none;
	width:96%;
}

#commentsubmit
{
}

div.newsheading
{
	position:absolute;
	margin-top:150px;
	padding: 5px;
}

h1.news
{
	font-size:30px;
	text-align: left;
	display:inline;
    background-color:#E6E6E6;
	line-height: 1.2em;
	text-shadow:none;
}

h2.standings
{
	text-shadow: 2px 2px #FFFFFF;
}

div.news
{
	background-color:white;
	margin-bottom:40px;
}

div.newstext
{
	padding:20px 5px 20px 5px;
}

div.newsimg
{
	position:relative;
	width:100%;
	height:200px;
	background-position:center;
	background-repeat: no-repeat;
	background-color: #EEE;
	background-size: cover;
}

p.news
{
	font-size:12px;
	margin-bottom:40px;
}

hr.news
{
	text-align: center;
	margin: 0px auto 0px auto;	
	width: 60%; 
	height: 1px;
	border: none;
	background: #ddd;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		right bottom,
		color-stop(0, rgb(255,255,255)),
		color-stop(0.1, rgb(221,221,221)),
		color-stop(0.9, rgb(221,221,221)),
		color-stop(1, rgb(255,255,255))
	);
	background-image: -moz-linear-gradient(
		left center,
		rgb(255,255,255) 0%,
		rgb(221,221,221) 10%,
		rgb(221,221,221) 90%,
		rgb(255,255,255) 100%
	);
}

div#loadingoverlay
{ 
    display:none; 
    position:absolute; 
    background:none; 
}


/* rubriker och texter
----------------------------------*/

body 
{
    font: 62.5% "Trebuchet MS", sans-serif;
    padding-bottom: 0px;
	background:#66C266;
}

label,
input,
button,
textarea 
{
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
}

button 
{
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
}

textarea {
	font-size: 12px;
	font-weight: normal;
	line-height: 20px;
}

input,
button 
{
	font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
}

label 
{
	display: inline;
	margin-bottom: 2px;
}

h1
{
	text-align: center;
	font-family: 'Oranienbaum', serif;
	font-size: 48px;
	text-shadow: 2px 2px #D1B2D1;
}

h2
{
	text-align: center;
	font-family: 'Oranienbaum', serif;
	font-size: 28px;
}

p.commentdate
{
	margin: 0px;
	text-align: right;
	color: #8E8E8E;
}

h1.loginh1
{
	margin-bottom:40px;
}


/* övrigt
----------------------------------*/

.menubutton
{
	margin-left:100px;
	margin-right: 100px;
	margin-top: 10px;
	margin-bottom: 10px;
}


#sparatips /*Sparaknappen på tipssidan! */
{
	float:right;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 20px;
	margin-right: 60px;
}

img#loading
{ 
    position:absolute;
}

/* tabellmanipulation
----------------------------------*/

td, th
{
	border: 0px solid black;
	background-color: none;
}

#ministandingstable
{
	font-family: "Courier New";
	font-size: 12pt;
	text-align: center;
	width: 100%;
}

.ministandingstablerow:hover
{
	font-weight: bold;
	color: white;
	cursor: default;
}

#bettable
{
	border: 0px solid black;
	width: 95%;
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
	background-color: white;
	font-family: "Courier New";
	font-size: 12pt;
}

#bettablehead
{
	background-color: #F5C79F;
	border: 1px solid black;
}

input.nyttips
{
	width: 50px;
}

